* {
    background: #F9F1D2;
}

.topnav {
    display: flex;
    padding: 40px 80px;
    justify-content:
}

.topnav a {
    text-decoration: none;
}

.appname {
    margin: auto;
}

.appname h1 {
    margin:0;
    color: #0A4436;

}

/*@media screen and (max-width: 600px) {
  .topnav {
    display: flex;
    flex-direction: column;
  }