<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>ViVet</title>-->
    <!--<link href="/static/index.css" rel="stylesheet" type="text/css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="topnav">-->
    <!--<img src="http://localhost:63342/Vivet/icons/hamburger_app.svg?_ijt=cd75j02258j5dateq55qs4s9j3" alt="ET phone home"/>-->
    <!--<a class="appname" href="">-->
        <!--<h1>ViVet</h1>-->
    <!--</a>-->
    <!--<a href="/search">-->
        <!--<img src="http://localhost:63342/PycharmProjects/Vivet/icons/search.svg?_ijt=siolvm9tnhdeselkcfho86ltfi" alt="ET phone home"/>-->
    <!--</a>-->
<!--</div>-->
<!--<div>-->
    <!--<div>-->
        <!--<button type="button">Find nearby vets</button>-->
    <!--</div>-->
    <!--<div id="map"></div>-->
<!--</div>-->
<!--&lt;!&ndash;Google maps scripts&ndash;&gt;-->
<!--<script src="/static/script.js"></script>-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxbVMPdHTmysnbQToVLUojzIyVIR8bZ4o&libraries=places&callback=initMap" async defer>-->
<!--</script>-->
<!--</body>-->
<!--</html>-->