<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vivet Search</title>
    <link href="/static/search_main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <a href="/"><img src="http://localhost:63342/Vivet/icons/hamburger_app.svg?_ijt=cd75j02258j5dateq55qs4s9j3" alt="ET phone home"/></a>
    <a class="appname" href="{{url_for('search_results')}}">
        <h1>Search ViVet</h1>
    </a>
    <a href=""><p>Upcoming appointments</p></a>
    <a href=""><p>Articles</p></a>
</div>
</body>
</html>