<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ViVet</title>
    <link href="/static/vivet.css" rel="stylesheet" type="text/css">
</head>
<div class="topnav">
    <a href="">
        <img src="http://localhost:63342/PycharmProjects/Vivet/icons/hamburger_app.svg?_ijt=b4tt9iopml69le42gb92i5pq2f" alt="ET phone home"/>
    </a>
    <a class="appname" href="">
        <h1>ViVet</h1>
    </a>
    <a href="">
        <img src="http://localhost:63342/PycharmProjects/Vivet/icons/search.svg?_ijt=siolvm9tnhdeselkcfho86ltfi" alt="ET phone home"/>
    </a>
</div>
</body>
</html>